<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>
<body>
<header class="container-fluid">
    <div class="container ">
        <div class="row ">
            <div class="col-3">
                <div class="logo-header pt-4 pb-3">
                    <img  src="../../assets/Images/logo-Zogin.webp">
                </div>
            </div>
            <div class="col-9">
                <div class="row justify-content-around">
                    <div class="col-9">
                        <ul class="pl-0 social-menu-footer">
                            <li class="fl-left">CALL US: + 1 800-567-8990</li>
                            <li class="fl-left">WRITE US: OFFICE@EXAMPLE.COM</li>
                            <li class="fl-left">OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="primary-btn text-center mt-3 align-self-center">Join us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!-- 1st section   -->
    <section class="container-fluid bg-about ">
        <div class="container">
            <div class="row ">
                <div class="col-9">
                    <nav class="row header-menu">
                        <ul class="row pl-0 text-uppercase text-white">
                            <li>
                                <a  href="Home.html">home</a>
                            </li>
                            <li>
                                <a  href="About.html">about</a>
                            </li>
                            <li>
                                <a  href="Classes.html">classes</a>
                            </li>
                            <li class="Pages-relative">
                                <a  href="Pages.html">pages</a>
                                <ul class="dropdown-pages">
                                    <li class="dropdown-fonts">Classes Details</li>
                                    <li class="dropdown-fonts">Blog Details</li>
                                    <li class="dropdown-fonts">Faq</li>
                                </ul>
                            </li>
                            <li>
                                <a class="home-line" href="Blog.html">blog</a>
                            </li>
                            <li>
                                <a  href="Contact.html">contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="social-menu">
                        <a href="">
                            <i class="fa fa-facebook " style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter " style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" style="font-size: 20px;color:white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12  mt-5 mb-5">
                    <div class="text-white text-center pt-5 ">
                        <h2 class="h2 text-white">Blog</h2>
                        <p>Home About Us</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--2nd section    -->
    <section class="container-fluid pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-4 m-0 p-0">
                    <div class="blog-1st-column pr-4">
                        <div class="search-bar">
                            <form action="">
                                <input type="text" placeholder="search">
                                <button class="serch-btn">
                                    <i class="fa fa-search-plus icon-serhc-blog" style="font-size:24px;color:#f5f5f5"></i>
                                </button>
                            </form>
                        </div>
                        <div class="categories-bar">
                            <h4>Categories</h4>
                            <ul class="pl-0">
                                <li class="li-blog"><a href="#">All</a></li>
                                <li class="li-blog"><a href="#">Fuel (20)</a></li>
                                <li class="li-blog"><a href="#">Sweat (5)</a></li>
                                <li class="li-blog"><a href="#">Play (9)</a></li>
                                <li class="li-blog"><a href="#">Live (10)</a></li>
                            </ul>
                        </div>
                        <div class="news-blog">
                            <h4>Recent News</h4>
                            <div class="resent-content ">
                                <div class="resent-pic mr-3">
                                    <img class="" src="../../assets/Images/br-1.jpg" alt="First slide">
                                </div>
                                <div class="resent-text">
                                    <h6>09 Kinds Of Vegetables Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </div>
                            <div class="resent-content ">
                                <div class="resent-pic mr-3">
                                    <img class="" src="../../assets/Images/br-2.jpg" alt="First slide">
                                </div>
                                <div class="resent-text">
                                    <h6>09 Kinds Of Vegetables Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </div>
                            <div class="resent-content ">
                                <div class="resent-pic mr-3">
                                    <img class="" src="../../assets/Images/br-3.jpg" alt="First slide">
                                </div>
                                <div class="resent-text">
                                    <h6>09 Kinds Of Vegetables Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </div>
                            <div class="blog-tags">
                                <h4>Search By Tags</h4>
                                <a href="#">Weight</a>
                                <a href="#">Beauty</a>
                                <a href="#">Yoga Ball</a>
                                <a href="#">Fruit</a>
                                <a href="#">Healthy Food</a>
                                <a href="#">Lifestyle</a>
                            </div>
                            <div class="blog-comment">
                                <h4>Comment</h4>
                                <div class="blog-classes-comment">
                                    <div class="blog-classes-comment-pic">
                                        <img class="" src="../../assets/Images/comment-1.png" alt="First slide">
                                        <div class="blog-classes-comment-pic-rating">
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star-half-o" style="font-size:16px;color:gold"></i>
                                        </div>
                                    </div>
                                    <div class="blog-classes-comment-text">
                                        <span>04 Mar 2018</span>
                                        <h6>Brandon Kelley</h6>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                            adipisci velit,</p>
                                    </div>
                                </div>
                                <div class="blog-classes-comment">
                                    <div class="blog-classes-comment-pic">
                                        <img class="" src="../../assets/Images/comment-2.png" alt="First slide">
                                        <div class="blog-classes-comment-pic-rating">
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star" style="font-size:16px;color:gold"></i>
                                            <i class="fa fa-star-half-o" style="font-size:16px;color:gold"></i>
                                        </div>
                                    </div>
                                    <div class="blog-classes-comment-text">
                                        <span>04 Mar 2018</span>
                                        <h6>Christina Kelley</h6>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 p-0 m-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-blog-content">
                                <div class="item-blog-pic">
                                    <img class="" src="../../assets/Images/blog-1.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="item-blog-text mt-3">
                                <ul class="pl-0">
                                    <li><i class="fa fa-calendar-o "></i> May 4, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a href="#" class="blog-read-more">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-blog-content">
                                <div class="item-blog-pic">
                                    <img class="" src="../../assets/Images/blog-2.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="item-blog-text mt-3">
                                <ul class="pl-0">
                                    <li><i class="fa fa-calendar-o "></i> May 4, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a href="#" class="blog-read-more">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6">
                            <div class="item-blog-content">
                                <div class="item-blog-pic">
                                    <img class="" src="../../assets/Images/blog-3.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="item-blog-text mt-3">
                                <ul class="pl-0">
                                    <li><i class="fa fa-calendar-o "></i> May 4, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a href="#" class="blog-read-more">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-blog-content">
                                <div class="item-blog-pic">
                                    <img class="" src="../../assets/Images/blog-4.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="item-blog-text mt-3">
                                <ul class="pl-0">
                                    <li><i class="fa fa-calendar-o "></i> May 4, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                                <p>Rebounding is fast becoming the low impact, high-intensity workout of choice for those looking </p>
                                <a href="#" class="blog-read-more">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="col-6">
                            <div class="item-blog-content">
                                <div class="item-blog-pic">
                                    <img class="" src="../../assets/Images/blog-5.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="item-blog-text mt-3">
                                <ul class="pl-0">
                                    <li><i class="fa fa-calendar-o "></i> May 4, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a href="#" class="blog-read-more">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-blog-content">
                                <div class="item-blog-pic">
                                    <img class="" src="../../assets/Images/blog-6.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="item-blog-text mt-3">
                                <ul class="pl-0">
                                    <li><i class="fa fa-calendar-o "></i> May 4, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                    quaerat </p>
                                <a href="#" class="blog-read-more">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="circles3-2">
                            <a >1</a>
                            <a >2</a>
                            <a >3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--Footer-->
<footer class="container-fluid bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="footer-about pt-5">
                    <img  src="../../assets/Images/footer-logo.webp">
                    <ul class="pl-0">
                        <li class="footer-clock ">
                            <i class="mr-3 mt-2 fa fa-clock-o" style="font-size:18px;color:#5768ad"></i>
                            <p class="p-footer mb-0">Mon - Fri: 6:30am - 07:45pm</p>
                        </li>
                        <li class="footer-clock  ">
                            <i class="mr-3 mt-2 fa fa-clock-o" style="font-size:18px;color:#5768ad"></i>
                            <p class="p-footer">Sat - Sun: 8:30am - 05:45pm</p>
                        </li>
                    </ul>
                    <form class=" position-relative">
                        <input class="form-submit" type="text" placeholder="Your Email">
                        <button class="position-absolute button-submit" type="submit" >
                            <i class="fa fa-send-o" style="font-size:24px;color:white"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-inspiration ">
                    <h5 class="h5 h5-w">Inspiration</h5>
                    <ul class="width ml-0 p-0">
                        <li><a class="insp-text" href="#">Online Pilates</a></li>
                        <li ><a class="insp-text" href="#">Yoga for Beginners</a></li>
                        <li><a class="insp-text" href="#">Online Pilates</a></li>
                        <li><a class="insp-text" href="#">Online Yoga</a></li>
                        <li><a class="insp-text" href="#">Conditioning</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-inspiration">
                    <h5 class="h5 h5-w">About Us</h5>
                    <ul class="width ml-0 p-0">
                        <li ><a class="insp-text" href="#">Our Vision</a></li>
                        <li ><a class="insp-text" href="#">Our Mission</a></li>
                        <li><a class="insp-text" href="#">Meet The Team</a></li>
                        <li><a class="insp-text" href="#">Introduce</a></li>
                        <li><a class="insp-text" href="#">Customer Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footer-inspiration">
                    <h5 class="h5 h5-w">Contact Us</h5>
                    <ul class="width ml-0 p-0">
                        <li><a class="insp-text" href="#"> (01) 436 8888</a></li>
                        <li><a class="insp-text" href="#">hello@zogin.com</a></li>
                        <li><a class="insp-text" href="#">828 Granville Lights Suite 466</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <p class="p-copyright">
                    Copyright © 2020 All rights reserved | This template is made with
                    <span><i class="fa fa-heart" style="font-size:20px; color: #a11f1f"></i></span>by Colorlib</p>
            </div>
            <div class="col-6">
                <div class="social-menu-footer">
                    <a href="">
                        <i class=" fa fa-facebook " style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-twitter " style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-instagram" style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-linkedin" style="font-size: 20px;color:white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
</body>
</html>