<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>
<body>
<header class="container-fluid">
    <div class="container ">
        <div class="row ">
            <div class="col-3">
                <div class="logo-header pt-4 pb-3">
                    <img  src="../../assets/Images/logo-Zogin.webp">
                </div>
            </div>
            <div class="col-9">
                <div class="row justify-content-around">
                    <div class="col-9">
                        <ul class="pl-0 social-menu-footer">
                            <li class="fl-left">CALL US: + 1 800-567-8990</li>
                            <li class="fl-left">WRITE US: OFFICE@EXAMPLE.COM</li>
                            <li class="fl-left">OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="primary-btn text-center mt-3 align-self-center">Join us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!-- 1st section   -->
    <section class="container-fluid bg-about ">
        <div class="container">
            <div class="row ">
                <div class="col-9">
                    <nav class="row header-menu">
                        <ul class="row pl-0 text-uppercase text-white">
                            <li>
                                <a  href="Home.html">home</a>
                            </li>
                            <li>
                                <a  href="About.html">about</a>
                            </li>
                            <li>
                                <a  href="Classes.html">classes</a>
                            </li>
                            <li class="Pages-relative">
                                <a  href="Pages.html">pages</a>
                                <ul class="dropdown-pages">
                                    <li class="dropdown-fonts">Classes Details</li>
                                    <li class="dropdown-fonts">Blog Details</li>
                                    <li class="dropdown-fonts">Faq</li>
                                </ul>
                            </li>
                            <li>
                                <a href="Blog.html">blog</a>
                            </li>
                            <li>
                                <a class="home-line" href="Contact.html">contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="social-menu">
                        <a href="">
                            <i class="fa fa-facebook " style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter " style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" style="font-size: 20px;color:white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12  mt-5 mb-5">
                    <div class="text-white text-center pt-5 ">
                        <h2 class="h2 text-white">Contact Us</h2>
                        <p>Home About Us</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--2nd section    -->
    <section class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="contact_phone text-center">
                        <span class="icon_phone">
                            <i class="fa fa-phone" style="font-size:36px;color: #5768ad"></i>
                        </span>
                        <h4>Phone</h4>
                        <p>+01-3-8888-6868</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="contact_phone text-center">
                        <span class="icon_phone">
                            <i class="fa fa-map-marker" style="font-size:36px; color: #5768ad"></i></i>
                        </span>
                        <h4>Phone</h4>
                        <p>+01-3-8888-6868</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="contact_phone text-center">
                        <span class="icon_phone">
                            <i class="far fa-clock" style="font-size:36px;color: #5768ad"></i>
                        </span>
                        <h4>Phone</h4>
                        <p>+01-3-8888-6868</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="contact_phone text-center">
                        <span class="icon_phone">
                            <i class="far fa-envelope" style="font-size:36px;color: #5768ad"></i>
                        </span>
                        <h4>Phone</h4>
                        <p>+01-3-8888-6868</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--3rd section    -->
    <section class="container-fluid padding-0">
        <div class=" map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49116.39176087041!2d-86.41867791216099!3d39.69977417971648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886ca48c841038a1%3A0x70cfba96bf847f0!2sPlainfield%2C%20IN%2C%20USA!5e0!3m2!1sen!2sbd!4v1586106673811!5m2!1sen!2sbd" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="map-inside">
                <div class="map-side-text">
                    <h5>New York</h5>
                    <ul>
                        <li>Phone: +65 11.188.888</li>
                        <li>Add: 60-49 Road 11378 New York</li>
                    </ul>
                </div>
                <div class="position-ab">
                    <i class='fas fa-map-marker-alt' style='font-size:48px;color:#5768ad'></i>
                </div>
            </div>
        </div>
    </section>
<!--4th section    -->
    <section class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center input-block">
                    <h2 class="h2 pb-5">Leave A Comment</h2>
                    <form action="">
                        <div class="row">
                            <div class="col-6 placeholder-color">
                                <input type="text" placeholder="Name*">
                            </div>
                            <div class="col-6 placeholder-color" >
                                <input type="text" placeholder="Email*">
                            </div>
                            <div class="col-lg-12 text-center placeholder-color mt-5">
                                <textarea placeholder="Your Comment"></textarea>
                                <button type="submit" class="site-btn">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!--Footer-->
<footer class="container-fluid bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="footer-about pt-5">
                    <img  src="../../assets/Images/footer-logo.webp">
                    <ul class="pl-0">
                        <li class="footer-clock ">
                            <i class="mr-3 mt-2 fa fa-clock-o" style="font-size:18px;color:#5768ad"></i>
                            <p class="p-footer mb-0">Mon - Fri: 6:30am - 07:45pm</p>
                        </li>
                        <li class="footer-clock  ">
                            <i class="mr-3 mt-2 fa fa-clock-o" style="font-size:18px;color:#5768ad"></i>
                            <p class="p-footer">Sat - Sun: 8:30am - 05:45pm</p>
                        </li>
                    </ul>
                    <form class=" position-relative">
                        <input class="form-submit" type="text" placeholder="Your Email">
                        <button class="position-absolute button-submit" type="submit" >
                            <i class="fa fa-send-o" style="font-size:24px;color:white"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-inspiration ">
                    <h5 class="h5 h5-w">Inspiration</h5>
                    <ul class="width ml-0 p-0">
                        <li><a class="insp-text" href="#">Online Pilates</a></li>
                        <li ><a class="insp-text" href="#">Yoga for Beginners</a></li>
                        <li><a class="insp-text" href="#">Online Pilates</a></li>
                        <li><a class="insp-text" href="#">Online Yoga</a></li>
                        <li><a class="insp-text" href="#">Conditioning</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-inspiration">
                    <h5 class="h5 h5-w">About Us</h5>
                    <ul class="width ml-0 p-0">
                        <li ><a class="insp-text" href="#">Our Vision</a></li>
                        <li ><a class="insp-text" href="#">Our Mission</a></li>
                        <li><a class="insp-text" href="#">Meet The Team</a></li>
                        <li><a class="insp-text" href="#">Introduce</a></li>
                        <li><a class="insp-text" href="#">Customer Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footer-inspiration">
                    <h5 class="h5 h5-w">Contact Us</h5>
                    <ul class="width ml-0 p-0">
                        <li><a class="insp-text" href="#"> (01) 436 8888</a></li>
                        <li><a class="insp-text" href="#">hello@zogin.com</a></li>
                        <li><a class="insp-text" href="#">828 Granville Lights Suite 466</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <p class="p-copyright">
                    Copyright © 2020 All rights reserved | This template is made with
                    <span><i class="fa fa-heart" style="font-size:20px; color: #a11f1f"></i></span>by Colorlib</p>
            </div>
            <div class="col-6">
                <div class="social-menu-footer">
                    <a href="">
                        <i class=" fa fa-facebook " style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-twitter " style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-instagram" style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-linkedin" style="font-size: 20px;color:white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
</body>
</html>