<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>
<body>
<header class="container-fluid">
    <div class="container ">
        <div class="row ">
            <div class="col-3">
                <div class="logo-header pt-4 pb-3">
                    <img  src="../../assets/Images/logo-Zogin.webp">
                </div>
            </div>
            <div class="col-9">
                <div class="row justify-content-around">
                    <div class="col-9">
                        <ul class="pl-0 social-menu-footer">
                            <li class="fl-left">CALL US: + 1 800-567-8990</li>
                            <li class="fl-left">WRITE US: OFFICE@EXAMPLE.COM</li>
                            <li class="fl-left">OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="primary-btn text-center mt-3 align-self-center">Join us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
   <section class="container-fluid bg-girl">
        <div class="container h-50">
            <div class="row">
                <div class="col-9">
                    <nav class="row header-menu">
                        <ul class="row pl-0 text-uppercase text-white">
                            <li>
                                <a class="home-line" href="Home.html">home</a>
                            </li>
                            <li>
                                <a href="About.html">about</a>
                            </li>
                            <li>
                                <a  href="Classes.html">classes</a>
                            </li>
                            <li class="Pages-relative">
                                <a  href="Pages.html">pages</a>
                                <ul class="dropdown-pages">
                                    <li class="dropdown-fonts">Classes Details</li>
                                    <li class="dropdown-fonts">Blog Details</li>
                                    <li class="dropdown-fonts">Faq</li>
                                </ul>
                            </li>
                            <li>
                                <a href="Blog.html">blog</a>
                            </li>
                            <li>
                                <a href="Contact.html">contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="social-menu">
                        <a href="">
                            <i class="fa fa-facebook " style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter " style="font-size: 20px;color:white"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" style="font-size: 20px;color:white"></i>
                         </a>
                        <a href="">
                            <i class="fa fa-linkedin" style="font-size: 20px;color:white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
   </section>
<!--Carousel    -->
   <section class="container-fluid bg-girl position-relative">
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
               <div class="carousel-item active carousel1">
                   <div class="container">
                       <div class="carousel1-text">
                           <span class="span-carousel1">Welcome to Zogin</span>
                           <h2 class="h2-carousel1">What hurts today makes you stronger tomorrow</h2>
                           <div class="">
                               <a href="#" class="primary-btn">DISCOVER MORE</a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="carousel-item carousel1">
                   <div class="container">
                       <div class="carousel1-text">
                           <span class="span-carousel1">Welcome to Zogin</span>
                           <h2 class="h2-carousel1">What hurts today makes you stronger tomorrow</h2>
                           <div class="">
                               <a href="#" class="primary-btn">DISCOVER MORE</a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="carousel-item carousel1">
                   <div class="container">
                   <div class="carousel1-text">
                       <span class="span-carousel1">Welcome to Zogin</span>
                       <h2 class="h2-carousel1">What hurts today makes you stronger tomorrow</h2>
                       <div class="">
                           <a href="#" class="primary-btn">DISCOVER MORE</a>
                       </div>
                   </div>
               </div>
               </div>
           </div>
       </div>
       <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
       </a>
   </section>
<!--1st section-->
    <section class="container-fluid">
        <div class="container mt-100px ">
            <div class="row ">
                <div class="col-7 ">
                    <div class="d-flex three-img-block">
                        <div class="img pr-4">
                            <img src="../../assets/Images/sun-in-hands.webp">
                        </div>
                        <div class="img">
                            <img class="pb-3" src="../../assets/Images/pray-woman.webp">
                            <img src="../../assets/Images/exercise.webp">
                        </div>
                    </div>
                </div>
                <div class="col-5 ">
                      <div class="logo-text-block">
                          <div>
                              <img src="../../assets/Images/icon-lotus-blue.webp">
                              <h2 class="h2">Welcome to Zogin</h2>
                          </div>
                          <p>
                              “What hurts today makes you stronger tomorrow.”
                          </p>
                          <p>
                              We are offering internationally certified 200 Hour Yoga Teacher Training in Rishikesh and 300 hour yoga teacher training in Rishikesh, India - Join us to have such life-transforming experience in The world capital of Yoga in Rishikesh.
                          </p>
                          <p class="mb-5">
                              Zogin is a great place for those who are in search of the ancient practice and true essence of yoga, meditation, health, peace and learning the art of creating a class to teach safely. We are passionate about adjustments and mainly focus on the alignment of the asanas.
                          </p>
                          <a  href="#" class="primary-btn">more about us</a>
                      </div>
                </div>
            </div>
        </div>
    </section>
<!--2nd section    -->
    <section class="container-fluid">
        <div class="row justify-content-center mt-100px">
            <img src="../../assets/Images/icon-lotus-blue.webp">
            <div class="w-100"></div>
            <h2 class="h2 mb-5">Enjoy All Aspects Of Yoga</h2>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="six-cards-content ">
                    <img src="../../assets/Images/services-1.webp">
                    <h5 class="h5">Asana</h5>
                    <p class="p">Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                        india!
                    </p>
                </div>
            </div>
            <div class="col-2">
                <div class="six-cards-content ">
                    <img src="../../assets/Images/services-2.webp">
                    <h5 class="h5">Asana</h5>
                    <p class="p">Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                        india!
                    </p>
                </div>
            </div>
            <div class="col-2">
                <div class="six-cards-content ">
                    <img src="../../assets/Images/services-3.webp">
                    <h5 class="h5">Madra</h5>
                    <p class="p">Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                        india!
                    </p>
                </div>
            </div>
            <div class="col-2">
                <div class="six-cards-content ">
                    <img src="../../assets/Images/services-4.webp">
                    <h5 class="h5">Asana</h5>
                    <p class="p">Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                        india!
                    </p>
                </div>
            </div>
            <div class="col-2">
                <div class="six-cards-content ">
                    <img src="../../assets/Images/services-5.webp">
                    <h5 class="h5">Asana</h5>
                    <p class="p">Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                        india!
                    </p>
                </div>
            </div>
            <div class="col-2">
                <div class="six-cards-content ">
                    <img src="../../assets/Images/services-6.webp">
                    <h5 class="h5">Asana</h5>
                    <p class="p">Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                        india!
                    </p>
                </div>
            </div>
        </div>
    </section>
<!--3rd section    -->
    <section class="container-fluid bg-light">
        <div class="container mt-100px">
            <div class="row">
                <div class="col-6">
                    <div class="section3-content">
                        <h2 class="h2">Why Choose Us</h2>
                        <p class="p">We are offering internationally certified 200 Hour Yoga Teacher Training in Rishikesh and 300
                            hour yoga teacher training in Rishikesh, India - Join us to have such life-transforming
                            experience in The world capital of Yoga in Rishikesh.</p>
                    </div>
                    <div class="section3-items">
                        <div class="icon3rd-sec">
                            <img src="../../assets/Images/choose-1.webp">
                        </div>
                        <div class="text3rd-sec">
                            <h2 class="h2-2">2146</h2>
                            <p class="p">Students</p>
                        </div>
                    </div>
                    <div class="section3-items">
                        <div class="icon3rd-sec">
                            <img src="../../assets/Images/choose-2.webp">
                        </div>
                        <div class="text3rd-sec">
                            <h2 class="h2-2">15</h2>
                            <p class="p">Years Of Experience</p>
                        </div>
                    </div>
                    <div class="section3-items">
                        <div class="icon3rd-sec">
                            <img src="../../assets/Images/choose-3.webp">
                        </div>
                        <div class="text3rd-sec">
                            <h2 class="h2-2">48</h2>
                            <p class="p">Branches</p>
                        </div>
                    </div>
                    <div class="section3-items">
                        <div class="icon3rd-sec">
                            <img src="../../assets/Images/choose-4.webp">
                        </div>
                        <div class="text3rd-sec">
                            <h2 class="h2-2">234</h2>
                            <p class="p">Expert Staffs</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img-3rdsection">
                        <img src="../../assets/Images/pray-woman2.webp">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--4th section    -->
    <section class="container-fluid h-890px pb-5 pt-5">
        <div class="row justify-content-center mb-5">
            <h2 class="h2  pb-2">Upcoming Courses</h2>
            <div class="w-100"></div>
            <p class="p text-center">The trainings are multi-style and you will learn and practice Hatha Vinyasa <br>(flow)
                and Yin Yoga.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="three-cards-content pt-0 pr-0 pl-0 ">
                        <div class="position-relative ">
                            <img  class="three-cards-img" src="../../assets/Images/classes-1.webp">
                            <span class="span-absolute">20 Jun 2019</span>
                        </div>
                        <div class="three-cards-text">
                            <p class="p pt-4 pl-4">14 Days | Start on 10th Every Month</p>
                            <h4 class="h4 pt-4 pl-4">100 Hour Yoga Course</h4>
                            <h4 class="h4 pl-4">Rishikesh</h4>
                            <h6 class="h6 pt-5 pl-4">Jordan Lawson - Yoga Teacher</h6>
                            <a  class="class-btn mt-3 mb-0 ml-4">JOIN NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="three-cards-content pt-0 pr-0 pl-0">
                        <div class="position-relative ">
                            <img  class="three-cards-img" src="../../assets/Images/classes-2.webp">
                            <span class="span-absolute">20 Jun 2019</span>
                        </div>
                        <div class="three-cards-text">
                            <p class="p pt-4 pl-4">14 Days | Start on 10th Every Month</p>
                            <h4 class="h4 pt-4 pl-4">100 Hour Yoga Course</h4>
                            <h4 class="h4 pl-4">Rishikesh</h4>
                            <h6 class="h6 pt-5 pl-4">Jordan Lawson - Yoga Teacher</h6>
                            <a  class="class-btn mt-3 mb-0 ml-4">JOIN NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="three-cards-content pt-0 pr-0 pl-0">
                        <div class="position-relative ">
                            <img  class="three-cards-img" src="../../assets/Images/classes-3.webp">
                            <span class="span-absolute">20 Jun 2019</span>
                        </div>
                        <div class="three-cards-text">
                            <p class="p pt-4 pl-4">14 Days | Start on 10th Every Month</p>
                            <h4 class="h4 pt-4 pl-4">100 Hour Yoga Course</h4>
                            <h4 class="h4 pl-4">Rishikesh</h4>
                            <h6 class="h6 pt-5 pl-4">Jordan Lawson - Yoga Teacher</h6>
                            <a  class="class-btn mt-3 mb-0 ml-4">JOIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--5th section    -->
    <section class="container-fluid ">
        <div class="row justify-content-center ">
            <h2 class="h2  mb-3">Our Gallery</h2>
            <div class="w-100"></div>
            <p class="p mb-5">This is the beautiful yogi and yoginis that have shared their journey and growth with
                us. Take a look!</p>
        </div>
        <div class="row">
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-1.webp">
            </div>
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-2.webp">
            </div>
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-3.webp">
            </div>
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-4.webp">
            </div>
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-5.webp">
            </div>
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-6.webp">
            </div>
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-7.webp">
            </div>
            <div class="col-3 p-0">
                <img  class="three-cards-img" src="../../assets/Images/gallery-8.webp">
            </div>
        </div>
    </section>
<!--6th section-->
    <section class="container-fluid">
        <div class="row justify-content-center ">
            <h2 class="h2 mt-5 mb-3">Meet Our Instructors</h2>
            <div class="w-100"></div>
            <p class="p mb-5">Our Indian and western teachers are highly qualified and will be happy to share this
                spiritual journey with you.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="istructors-content  text-center">
                        <div class="img-instructors">
                            <img  class="three-cards-img" src="../../assets/Images/instructor-1.webp">
                        </div>
                        <div class="intructors-text">
                            <h5 class="pt-4">Emma Hale</h5>
                            <p class="p pt-1">Yoga Trainer</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="istructors-content  text-center">
                        <div class="img-instructors">
                            <img  class="three-cards-img" src="../../assets/Images/instructor-2.webp">
                        </div>
                        <div class="intructors-text">
                            <h5 class="pt-4">Emma Hale</h5>
                            <p class="p pt-1">Yoga Trainer</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="istructors-content  text-center">
                        <div class="img-instructors">
                            <img  class="three-cards-img" src="../../assets/Images/instructor-3.webp">
                        </div>
                        <div class="intructors-text">
                            <h5 class="pt-4">Emma Hale</h5>
                            <p class="p pt-1">Yoga Trainer</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="istructors-content  text-center">
                        <div class="img-instructors">
                            <img  class="three-cards-img" src="../../assets/Images/instructor-4.webp">
                        </div>
                        <div class="intructors-text">
                            <h5 class="pt-4">Emma Hale</h5>
                            <p class="p pt-1">Yoga Trainer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--6th section-->
    <section class="container-fluid">
        <div class="container bg-color-blue text-center mt-100px">
            <img class="mt-5" src="../../assets/Images/icon-lotus-white.webp">
            <h2 class="h2 text-white">Make An Appointment</h2>
            <div class="row">
                <div class="col-6">
                    <input class="input" type="text" placeholder="Name">
                </div>
                <div class="col-6">
                    <input class="input"  type="text" placeholder="Email">
                </div>
                <div class="col-6">
                    <input class="input"  type="text" placeholder="Phone">
                </div>
                <div class="col-6">
                    <input class="input"  type="text" placeholder="Choose Your Class">
                </div>
                <div class="col-12">
                    <textarea class="textarea" placeholder="Message" spellcheck="false"></textarea>
                    <button class="btn-textarea" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
<!--carousel 2nd    -->
    <section class="container-fluid bg-light pt-5 pb-5">
        <div class="container h-600px mt-100px">
<!-- Carousel-TOP-->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner h-600px">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel2-text ">
                                    <p class="p-carousel">This is my second time completing a 200 hr TTC from Zogin and I loved the experiences
                                        even more than the first time that I had done in 2014.</p>
                                </div>
                                <div class="carousel2-img">
                                    <img class="" src="../../assets/Images/carousel-2.webp" alt="First slide">
                                </div>
                                <h5 class="h5-carousel2">Linnie Walton <span>- Trainer</span></h5>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container">
                                <div class="carousel2-text">
                                    <p class="p-carousel">This is my second time completing a 200 hr TTC from Zogin and I loved the experiences
                                        even more than the first time that I had done in 2014.</p>
                                </div>
                                <div class="carousel2-img">
                                    <img class="" src="../../assets/Images/carousel-2.webp" alt="First slide">
                                </div>
                                <h5 class="h5-carousel2">Linnie Walton <span>- Trainer</span></h5>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container">
                                <div class="carousel2-text">
                                    <p class="p-carousel">This is my second time completing a 200 hr TTC from Zogin and I loved the experiences
                                        even more than the first time that I had done in 2014.</p>
                                </div>
                                <div class="carousel2-img">
                                    <img class="" src="../../assets/Images/carousel-2.webp" alt="First slide">
                                </div>
                                <h5 class="h5-carousel2">Linnie Walton <span>- Trainer</span></h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
<!--                carousel-BOTTOM-->
        </div>
    </section>
</main>
<!--Footer-->
<footer class="container-fluid bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="footer-about pt-5">
                    <img  src="../../assets/Images/footer-logo.webp">
                    <ul class="pl-0">
                        <li class="footer-clock ">
                            <i class="mr-3 mt-2 fa fa-clock-o" style="font-size:18px;color:#5768ad"></i>
                             <p class="p-footer mb-0">Mon - Fri: 6:30am - 07:45pm</p>
                        </li>
                        <li class="footer-clock  ">
                            <i class="mr-3 mt-2 fa fa-clock-o" style="font-size:18px;color:#5768ad"></i>
                            <p class="p-footer">Sat - Sun: 8:30am - 05:45pm</p>
                        </li>
                    </ul>
                    <form class=" position-relative">
                        <input class="form-submit" type="text" placeholder="Your Email">
                        <button class="position-absolute button-submit" type="submit" >
                            <i class="fa fa-send-o" style="font-size:24px;color:white"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-inspiration ">
                    <h5 class="h5 h5-w">Inspiration</h5>
                    <ul class="width ml-0 p-0">
                        <li><a class="insp-text" href="#">Online Pilates</a></li>
                        <li ><a class="insp-text" href="#">Yoga for Beginners</a></li>
                        <li><a class="insp-text" href="#">Online Pilates</a></li>
                        <li><a class="insp-text" href="#">Online Yoga</a></li>
                        <li><a class="insp-text" href="#">Conditioning</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-inspiration">
                    <h5 class="h5 h5-w">About Us</h5>
                    <ul class="width ml-0 p-0">
                        <li ><a class="insp-text" href="#">Our Vision</a></li>
                        <li ><a class="insp-text" href="#">Our Mission</a></li>
                        <li><a class="insp-text" href="#">Meet The Team</a></li>
                        <li><a class="insp-text" href="#">Introduce</a></li>
                        <li><a class="insp-text" href="#">Customer Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footer-inspiration">
                    <h5 class="h5 h5-w">Contact Us</h5>
                    <ul class="width ml-0 p-0">
                        <li><a class="insp-text" href="#"> (01) 436 8888</a></li>
                        <li><a class="insp-text" href="#">hello@zogin.com</a></li>
                        <li><a class="insp-text" href="#">828 Granville Lights Suite 466</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <p class="p-copyright">
                    Copyright © 2020 All rights reserved | This template is made with
                <span><i class="fa fa-heart" style="font-size:20px; color: #a11f1f"></i></span>by Colorlib</p>
            </div>
            <div class="col-6">
                <div class="social-menu-footer">
                    <a href="">
                        <i class=" fa fa-facebook " style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-twitter " style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-instagram" style="font-size: 20px;color:white"></i>
                    </a>
                    <a href="">
                        <i class="pl-5 fa fa-linkedin" style="font-size: 20px;color:white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
</body>
</html>